body{
  height: 100vh;
  position: relative;
}

.container-main{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
  .logo-google{
    width: 150px;
  }
  
  .container-input{
    width: 50%;
    border: 1px solid rgb(222, 219, 219);
    border-radius: 20px;
    margin-top: 15px;
    display: flex;
    align-items: center;

    input{
      border: none;
      height: 100%;
      width: 100%;
      padding: 10px 5px;
    }
    input:focus-visible{
      border: none;
      outline: none;
    }
    .lupa{
      padding-left: 10px;
    }
    .microphone{
      padding-right: 10px;
    }
  }
  .container-input:hover{
    box-shadow: 0 1px 6px #20212447;
    border-color: rgba(223,225,229,0)
  }


  
  .container-button button{
    margin: 20px 0 0 20px;
    cursor: pointer;
    border: 1px solid transparent;
    background: #F8F9FA;
    padding: 10px 10px;
    border-radius: 5px;
  }
  .container-button button:hover{
    border: 1px solid #d2d4d5;
  }
}
